html,body,h1,h2,h3,h4 {font-family:"Lato", sans-serif}
.mySlides {display:none}
.w3-tag, .fa {cursor:pointer}
.w3-tag {height:15px;width:15px;padding:0;margin-top:6px}

select{
	border:none;
}
.lineInput{
	margin-top:30px;
	border-bottom: 3px solid #aaa;
}
#contactForm{
	font-family:Vagbold;
	color:#00c1ec;
	letter-spacing: 2px;
}
#contactMess{
	width:480px;
	height:100px;
	//margin-top:40px;
	border-bottom: 3px solid #aaa;
	resize:none;
}
.w3-input{
	color:#f19800;
	font-family: Vagthin;
	margin-top: -4px;
}
