html,body,h1,h2,h3,h4 {font-family:"Lato", sans-serif}
.w3-tag, .fa {cursor:pointer}
.w3-tag {height:15px;width:15px;padding:0;margin-top:6px}

#proyNav{
	margin-top:30px;
	margin-bottom:40px;
	color:rgba(0,0,0,0.2);
}

#navLine{
	display:inline-flex;
}

#navLine hr{
	//border:1px solid rgba(0,0,0,0.1);
	border:1px solid rgba(116,219,83,0.3);
	width:12vw;
	margin-left: -10px;
	margin-right: -10px;
	margin-top:14px;	
}

.step{
	text-align:center;
	color: rgba(116,219,83,0.3);
	font-family:Vagthin;
	font-size:10px;
}

.w3-content .w3-circle{
	//border:1px solid rgba(0,0,0,0.2);
	border:1px solid rgba(116,219,83,0.3);
	background-color: rgba(116,219,83,0.3);
	color:white;
	width:28px;
	height:28px;
	padding:8px;
	margin: auto;
	font-family:Vagbold;
	font-size:14px;
}

.w3-display-middle{
	position:relative;
}
#proyectData{
	font-family:Vagthin;
	color:#001782;
}
#proyectData .w3-input{	
	display:inline;
	padding: 0px 10px 0px 10px;
	border-width: 0px 0px 4px 0px;
	border-style: solid;
	border-color:#001782;
	width:400px;
	color: rgb(116, 219, 83);
	font-size: 24px;
	text-align: center;
}

#proyName{
	margin-top:40px;
	margin-bottom:40px;
}

.catCont{
	padding:15px;
}
.catTitle{
	margin-top: -25px;color: white;font-size:11px;
}
.categoria{
	background-color: #01c944;
	//border-radius: 15px;
	padding: 12px;
}

#proyDesc{
    border-width: 1px 1px 1px 1px;
    border-color: rgba(0,0,0,0.1);
    height: 150px;
    margin-top:50px;
    resize: none;
}

#navButtons{
	width: 24vw;
	height: 1px;;
	margin: 50px auto 0px auto;
}

#navLeft{
	float:left;
}

#navRight{
	float:right;
}

#stepCont_2 img{
	width:100%;
	padding:5px;
}

#portadaCont{
	display:inline-flex;
	color: #001782;
	background-color: rgb(116,219,83);
	width: 80%;
	height: 60px;
	max-width: 480px;
	margin: auto;
	//border-radius: 11px;
	padding: 15px;
	text-align: left;	
	margin-bottom:15px;
	margin-top:20px;
}
#portadaFile{
	background-color:white;
	margin-left: 15px;
	padding: 5px 10px 5px 10px;
	width: 60%;
	font-size: 1.2vw;
}
#portadaInput label{
	background-color:#001782;
	color:white;
	font-family:Vagbold;
	float:right;
}
#thumbCont{
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.2, 0.88, 0.5, 1);
    transition-duration: 1500ms;
    transform: translateX(0px);
}

.w3-closebtn.w3-circle.thumbDelete{
	background-color:#001782;	
	width: 10px;
	height: 10px;
	font-size: 10px;
	padding-top: 6px;
}
.thumbDelete{
    padding-left: 5px;
    padding-right: 5px;
    margin-right: -15px;
}
#moreFiles{
	color: white;
	background-color: #001782;
	width: 200px;
	margin: auto;
	font-family: Vagbold;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top:-20px;
}
