#homeSlider{
	background-color:white;
	max-width:1980px;
	margin-top:0px;
	margin-bottom:0px;
	padding-bottom:80px;
	padding-top:80px;
}

.w3-content.w3-display-container{
	width:100%;
}
banner{
	width:100%;
	margin-top: 64px;
	//height:300px;
	background-color:black;
	display:block;
	overflow:hidden;
}

#banner img{
	width:100%;
}

html,body,h1,h2,h3,h4 {font-family:"Lato", sans-serif}
.mySlides {display:none}
.w3-tag, .fa {cursor:pointer}
.w3-tag {height:15px;width:15px;padding:0;margin-top:6px}

@media screen and (max-width:767px) {
	#banner{
		margin-top: 10vw;
	}
}
