body{
	font-family:Vagthin;
}
#banner{
	width:100%;
	margin-top: 64px;
	//height:300px;
	background-color:black;
	display:block;
	overflow:hidden;
}

#banner img{
	width:100%;
}
#queEs{
	display:inline-flex;
	width: 90%;
	max-width: 660px;
	margin:auto;
	border: solid 1px rgba(0,0,0,0.1);
	padding-top: 10px;
	margin-top: -20px;
    	background-color: white;
}

#favoritos{
	width:80%;
	margin:auto;
	padding-top: 10px;
    	background-color: white;
	//margin-bottom: 150px;
	height: 100%;
}
#favBox{
	width:90%;
	display: inline-flex;
}

#favBox ul{
	padding:0px;
}

#favBox li{
	list-style-type: none;
	color:#193462;
	margin-bottom: 4%;
	padding-left: 10%;
}


#favBox .categoria img{
	width:50px;
	height:50px;
}
#favBox .categoria h6{
	margin:auto;
	margin-top:2px;
}

#favBox .titleCont{
	background-color:#f5f5f5;
	color: #193462;
	overflow: auto;
	text-align: left;
	padding-left: 5%;
	height: 35px;
	margin-bottom: 10px;
	//margin-bottom: 10px;
}
#favBox .titleCont a{
	text-decoration: none;
}

#favBox .creador{
	//display:inline-flex;
	padding-left: 5%;
	padding-right: 5%;
	text-align:left;
	font-size:8px;
	line-height:0px;
    	//background-color: #72dc54;
	width:100%;
	margin-bottom: 25px;
	//margin-top: 10px;
	color: #00c1ea;
}
#favDesc{
	background-color:#f5f5f5;
	solid 1px rgba(0,0,0,0.1);
}
#favDesc .pDesc p{	
	margin:0px;
	font-size:1.25vw;
}
#favImg img{
	border:solid 1px rgba(0,0,0,0.1);
}
#favBox .creador .left{
	margin-right:8px;
}

#favBox .creador img{
	width:20px;
}

#favBox hr{
	width:100%;
	border-color:#81f15e;
	margin:0px;
}
#favBox .bottomCont{
	display: inline-flex;
	width: 100%;
	padding: 0px 10px 0px 10px;
	/* overflow: auto; */
	position: absolute;
	left: 0px;
	bottom: 0px;
}
#favBox .pEstado{	
	padding-top:5px;	
}
#favBox .tortaFrame{
	width:70px;
	height:60px;
}

#favBox .tortaFrame .completo{
	width: 50px;
	height: 50px;
	background-color: #013567;
	margin-left: auto;
	margin-right: auto;
}

#favBox .tortaFrame .incompleto{
	background-color: #00c1ea;
	width: 25px;
	height: 25px;
	margin-top: -50px;
	margin-left: 10px;	
}

#favBox .tortaFrame .interior{
	width: 30px;
	height: 30px;
	border: solid 3px white;
	padding: 5px 0px 0px 2px;
	background-color: white;
	margin-top: -15px;
	margin-left: 20px;
	font-size: 12px;
	font-family: Vagbold;
}

#favBox .pDesc{
	overflow: auto;
	/* padding-bottom: 15px; */
	padding-right: 10px;
	padding-left: 10px;
	font-size: 0.9vw;
	text-align: left;
	margin-top: 15px;
	max-height: 100px;
	color: #444;
}

#favBox .quarter-circle {
    background-color:#c06;
    height:100%;
    width: 100%;
    -moz-border-radius: 100% 0 0 0;
    border-radius: 100% 0 0 0;
}

#otros{
	//width:60%;
	margin:auto;
	padding: 10px;
    	background-color: white;	
	margin-top:50px;
	text-align:center;
	border: solid 1px rgba(0,0,0,0.1);
}

#otros h5{
    background-color: #00d59b;
    color: white;
    width: 70%;
    margin: auto;
    font-family: Vagbold;
    letter-spacing: 3px;
    padding:12px;
    margin-bottom:20px;
}

#otros #projectList{
	//display:flex;
}

@media screen and (max-width:767px) {

	#favoritos{
		width:100%;
	}

	/*#favBox .bottomCont {
		height:20%;
		
	}

	#favBox .tortaFrame {
    		width: 50%;
    		height: 100%;
	}

	#favBox .tortaFrame .completo {
		width:90%;
		height:90%;
	}

	#favBox .tortaFrame .incompleto {
    		width: 50%;
		height: 50%;
		margin-top: -100%;
		margin-left: -20%;
	}*/
	
}

@media screen and (max-width:600px) {
	#favBox{
		display: block;
		margin: auto;
		border: solid 1px rgba(0,0,0,0.1);
		padding: 0px;
	}
	#favBox ul {
		margin:0px;
	}
	
	#favBox li {
		margin-bottom:0px;
	}
	#favBox .bottomCont {
		display:none;
	}

	#favDesc{
	    background-color: inherit;
	    border-top:solid 1px rgba(0,0,0,0.1);
	}
	#favBox .titleCont {
	    background-color: inherit;
    	}

	#favDesc .pDesc p{
		font-size:2vw;
	}
}
