@font-face {
    font-family: VagBlack;
    src: url('../fonts/VAGRoundedStd-Black.otf');
}

@font-face {
    font-family: VagBold;
    src: url('../fonts/VAGRoundedStd-Bold.otf');
}

@font-face {
    font-family: VagLight;
    src: url('../fonts/VAGRoundedStd-Light.otf');
}

@font-face {
    font-family: VagThin;
    src: url('../fonts/VAGRoundedStd-Thin.otf');
}

body{
	font-family:VagBlack;
}

.left{
	float:left;
}

.right{
	float:right;
}

#fullMask{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:1024px;
	z-index: 1000;
	background-color: rgba(254,222,79,0.0);
}

#dialog{
	position:fixed;
	z-index:1000;
	color:black;
	background-color:rgba(254,222,79,0.9);
	text-align:center;
	top:100px;
	left:35%;
	width:30%;
	height:300px;
	font-family:Vagbold;
}
#dialogContent{
	margin-top:80px;
}
#dialog ul li{
	list-style-type: none;
	padding:10px;
	font-size:4vh;
}
#dialog ul li:hover{
	color:rgb(254,222,79);
	background-color:#001782;
}

#dialog span.w3-closebtn{
	font-size:3vw;
}
.w3-input{	
	display:inline;
	padding: 0px 10px 0px 10px;
	border:none;
	width:auto;
}
.lineInput{
	display:flex;width:100%;border-bottom: 2px solid #808080;
}
#navTitle{
	//position:absolute;
	//width:90%;
	text-align:center;
	margin-top:-5px;	
}
#navTitle img{
	width:150%;
	margin-left:-25%;
}

.w3-btn.kButton{
	font-size: 1vw;
	letter-spacing: 3px;
	padding-top: 13px;
	padding-bottom:10px;
	font-family:VagBold;
}

.w3-btn.blueButton{
	background-color:#001782;
	border:solid 2px #001782;
}

#crear button.w3-btn{
	padding-left:25px;
	padding-right:25px;
}

.w3-btn.alphaButton{
	background-color:rgba(255,255,255,0.3);
	color:#001782;
	border:solid 2px #001782;	
}

.w3-btn.navButton{
	background-color: #ccc;
	vertical-align: -webkit-baseline-middle;
}

/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
	list-style-type: none;
	margin: 0;
	padding: 10px 5% 0px 5%;
	overflow: hidden;
	background-color: rgba(255,255,255,1.0);
	z-index: 200;
}

/* Float the list items side by side */
ul.topnav li {
	float: left;
	margin-right: 5px;
}

/* Style the links inside the list items */
ul.topnav li a {
	display: inline-block;
	color: #f2f2f2;
	text-align: center;
	padding: 4px 8px;
	text-decoration: none;
	transition: 0.3s;
	font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {
	//background-color: #555;
}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

#menuBars{
	color:#ddd;
	font-size:30px;
}

#logged{
	//display:table-cell;
}

#logged span{
	display:inline-flex;
	vertical-align:middle;
}
#logged #imgCont{
	width:50px;height:50px;overflow:hidden;
	border: solid 2px #ffdd42;
}
#logged img{
	width:50px;
}

#loggedArrow{
	font-size:24px;margin-left: 7px;
}

#arrowMenu{
	background-color: inherit;
	//border: none;
	border: solid solid solid none;
}

#logged h5{
	color:#001782;
	margin:0px 0px 0px -20px;
	border-style: solid solid solid none;    	
    	border-color: #ffdd42;    	
    	border-width: 2px;
    	padding-top: 8px;
	padding-left: 25px;
	padding-right: 10px;
	font-family:VagBold;
}

#userMenu{
    list-style-type: none;
    position: fixed;
    background-color: #ffdd42;
    color: #001782;
    right: 5.5%;
    width: 140px;
    top: 50px;
    padding: 0px 10px 0px 10px;
    font-size: 0.8vw;
    line-height: 2;
    z-index: 1000;
    font-family:VagBold;
}

#userMenu li{
	border-bottom:solid 1px white;
}

#footTitle{
	//position:absolute;
	//width:100%;
	text-align:center;	
	//margin:0px;
	//left:-8px;
}

footer.w3-container{
	background-color:#001782;
	color:white;
	margin-top:40px;
	padding: 0px 15vw  16px 15vw;
	font-size: 10px;
    	font-family: Arial;
}

#safe{
	margin-top: -129px;
	margin-right: -90px;
}

footer a{
	text-decoration:none;
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:767px) {

	ul.topnav {
    		padding: 10px 0px 0px 0px;
	}

	ul.topnav li {
    		margin-right: 0.5vw;
	}

	.w3-btn.kButton {
		font-size: 1.5vw;
		padding: 10px 2vw;
	}

	#crear button.w3-btn {
    		padding-left: 3vw;
   		 padding-right: 3vw;
	}
	#navTitle {
    		margin-top: 0px;
	}

	#logged #imgCont {
   		width: 10vw;
    		height: 10vw;
    		margin-right: 5vw;
	}

	#logged img {
    		width: 10vw;
	}

	#logged h5 {
		display:inline-flex;
    		margin: 0px 0px 0px -8vw;
    		padding-top: 3vw;
		padding-left: 5vw;
		padding-bottom: 2vw;
	}

	#loggedName{
		font-size:2.5vw;
	}

	#loggedArrow{
		font-size:4vw;
	}

	#userMenu {		
		right: 6.5%;
		width: 23vw;
		top: 10vw;
		font-size: 1.5vw;
	}

	/*ul.topnav li:not(:first-child) {display: none;}
	ul.topnav li.icon {
		float: left;
		display: inline-block;
	}
	ul.topnav.responsive {position: relative;}
	ul.topnav.responsive li.icon {
		position: absolute;
		left: 0;
		top: 0;
	}
	ul.topnav.responsive li {
		float: none;
		display: inline;
	}
	ul.topnav.responsive li a {
		display: block;
		text-align: left;    
	}*/


	#safe {
   		margin-top: -10vw;
    		margin-right: -8vw;
		height: 10vw;
	}
}
