#filters{
	margin-left: auto;
	margin-right: auto;
	width: 90%;	
	font-family:Vagbold;
	margin-bottom:30px;
}
#filters select{
	border:solid 2px #00c1ec;
	width:98%;
	height:35px;
	color:#00c1ec;
}
#filters .w3-col{
	text-align:center;
}
.lineInput{
	margin: 11px 0px 0px 1.5%;
	width:97%;
	border-color: #f19800;
	color:#f19800;
}
.w3-input{	
	margin-right: 1.5%;
	width: 97%;
}

.proyecto{
	background-color:white;
	//padding:20px;
	//padding-bottom:40px;
	color:#001782;
	font-family:Vagbold;
        border: solid 1px rgba(0,0,0,0.1);
}

.proyecto img{
	width:100%;
	margin:0px;
	margin-right:10px;
}

.proyecto .categoria{
	position:relative;
	color:white;
	background-color:#f19800;
	//margin-top: -15px;
	//margin-left: 5%;
	//padding-left:10px;
	width: 100%;
	z-index: 10;
	display: inline-flex;
	height: 35px;
}

.proyecto .categoria img{
	width:50px;
	height:50px;
}
.proyecto .categoria h6{
	margin:auto;
	margin-top:6px;
        font-family: Vagbold;
}

.proyecto .titleCont{
	background-color:white;
	padding: 20px 25px 0px 25px;
	margin-top: -20px;
	height: 96px;
	overflow: auto;
	text-align: left;
}
.proyecto .titleCont a{
	text-decoration: none;
}

.proyecto .titleCont h4{
	font-family:Vagbold;font-size: 2vw;
}

.proyecto .creador{
	display:table-cell;
	padding: 10px 20px 10px 20px;
    	background-color:white;
	color: #00c1ea;
}
.proyecto .creador .left{
	margin-right:8px;
}

.proyecto .creador img{
	width:50px;
}

.proyecto hr{
	width: 90%;
	border-color: rgba(0,0,0,0.1);
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
}
.proyecto .bottomCont{
	display:inline-flex;
	width:100%;
	height:190px;
	padding:20px;
	overflow:auto;
}
.proyecto .pEstado{
	//background-color:#81f15e;
	height:150px;
	padding-top:10px;	
}
.proyecto .tortaFrame{
	width:100px;
	height:100px;
}

.proyecto .tortaFrame .completo{
	width: 70px;
	height: 70px;
	background-color: #013567;
	margin-left: auto;
	margin-right: auto;
}

.proyecto .tortaFrame .incompleto{
	background-color: #00c1ea;
	width: 35px;
	height: 35px;
	margin-top: -70px;
	margin-left: 15px;
}

.proyecto .tortaFrame .interior{
	width: 40px;
	height: 40px;
	border: solid 3px white;
	padding: 8px 0px 0px 4px;
	background-color: white;
	margin-top: -20px;
	margin-left: 30px;
}

.proyecto .pDesc{
	overflow: auto;
	/* padding-bottom: 15px; */
	padding-right: 10px;
	padding-left: 10px;
	font-size: 1.4vw;
	text-align: left;
	color: #444;
	font-family: Vagthin;
}

.quarter-circle {
    background-color:#c06;
    height:100%;
    width: 100%;
    -moz-border-radius: 100% 0 0 0;
    border-radius: 100% 0 0 0;
}

.barraLlena{
	float:left;
	background-color:#eee;
	border-radius: 20px 0px 0px 20px;
}
.barraVacia{
	float:right;
	background-color:#111;
	border-radius: 0px 20px 20px 0px;
}

.barra{
	display:block;
	margin-bottom:35px;
}

@media screen and (max-width:767px) {	
	.proyecto .pDesc{
		font-size: 2vw;
	}
	.proyecto .titleCont h4{
		font-size: 3vw;
	}
}
@media screen and (max-width:600px) {
	.proyecto .pDesc{
		font-size: 3vw;
	}
	.proyecto .titleCont h4{
		font-size: 4vw;
	}
}
