html,body,h1,h2,h3,h4 {font-family:"Lato", sans-serif}
.mySlides {display:none}
.w3-tag, .fa {cursor:pointer}
.w3-tag {height:15px;width:15px;padding:0;margin-top:6px}

select{
	border:none;
}

#categoria{
	background-color: #f19800;
    	color: white;
    	/* width: 150px; */
    	/* text-align: center; */
    	margin-bottom: 30px;
    	/* width: 40%; */
    	padding: 10px 20px;
    	font-family: VAgbold;
    	letter-spacing: 2px;
}
#pTitle{
    margin-top: 20px;
    font-family: Vagbold;
    color:#001783;
}

.mySlides {
    //width:500px;
    //height:500px;
    //border-style:solid;
    
    text-align: center;  /* align the inline(-block) elements horizontally */
    font: 0/0 a;         /* remove the gap between inline(-block) elements */
    background-color: white;
}

.mySlides:before {      /* create a full-height inline block pseudo-element */
    content: ' ';
    display: inline-block;
    vertical-align: middle; /* vertical alignment of the inline element */
    height: 100%;    
}

.mySlides img{
    display: inline-block;
    vertical-align: middle;          /* vertical alignment of the inline element */
    //font: 16px/1 Arial, sans-serif;  /* reset the font property */
    
    padding: 5px;
    //border: 2px solid black;
}
.w3-btn-floating {
	background-color:rgba(0,0,0,0.2);
	//color:black;
}
.w3-btn-floating:hover {
    box-shadow: none;
}
.w3-display-right {
	right:1%
}
.w3-display-left {
	left:1%
}
.barraLlena{
	float:left;
	background-color:#eee;
	border-radius: 20px 0px 0px 20px;
}
.barraVacia{
	float:right;
	background-color:#111;
	border-radius: 0px 20px 20px 0px;
}

.barra{
	display:block;
	margin-bottom:35px;
}

#creador img{
	//margin-bottom:-15%;
}

#stats{
	background-color: #eee;
	padding-top: 70px;
	padding-bottom: 20px;
	margin-top:-60px;
	border: solid 1px #aaa;
	color: #001783;	
}
#stats p{
	font-family:Vagbold;
	line-height:10px;
	font-size:0.8vw;margin-top:0px;text-align:center;
}
.statNumber{
	font-family:Vagbold;
	font-size:16px;
}
#userName{
	font-family:Vagbold;
	color:#00c1ec;
	letter-spacing: 3px;
	font-size: 1.5vw;
	text-decoration:none;
}
#ciudad{
	color:#f19800;
	font-family: Vagbold;
	letter-spacing: 1px;
	font-size: 1vw;
}

.logradoCont{
	margin-top:20px;
	display:inline-block;
}

.tortaFrame{
	width: 80px;
    height: 80px;
    //margin: auto;
    float: right;
}
.quarter-circle {
    background-color:#c06;
    height:100%;
    width: 100%;
    -moz-border-radius: 100% 0 0 0;
    border-radius: 100% 0 0 0;
}

.tortaFrame .completo{
    width: 80px;
    height: 80px;
    background-color: #001783;
    margin-left: auto;
    margin-right: auto;
}

.tortaFrame .incompleto{
    background-color: #00c1ea;
    width: 40px;
    height: 40px;
    margin-top: -80px;
    margin-left: 0px;	
}

.tortaFrame .interior{
    width: 50px;
    height: 50px;
    border: solid 3px white;
    padding: 10px 0px 0px 2px;
    background-color: white;
    margin-top: -25px;
    margin-left: 15px;
    font-size: 18px;
    font-family: Vagbold;
    color: #001783;
}
#dias{
	color: #00c1ea;font-family: Vagbold;font-size: 1vw;margin-top: -5px;
}

/*#creador button{
	font-size: 1.5vw;
	width: 100%;
	margin-top: 15px;
	background-color: white;
}*/
#pFiles p{
	font-size:0.8vw;
}
#pFiles .file{
	padding-left:10px;padding-right:10px;padding-bottom:10px;
}
#pFiles .fileCont{
	border:solid 2px #00c1ec;color:#00c1ec;
}
#pDescrip{
	text-align: left;
	font-size: 1.25vw;
	color: #555;
	font-family: Vagthin;
}
#pDescrip h6{
	font-Family: Vagthin;
	font-size: 1vw;
	color: #aaa;
	letter-spacing: 1px;
}
#feedback{
	//display: flex;
	background-color: white;
	color: #444;
	padding-left: 15px;
	height:100%;
	padding: 30px 50px 30px 35px;
}

#comentarios{
	padding-right:50px;
	padding-top: 10px;
	padding-bottom: 20px;
	background-color:#eee;
	border: solid 1px #aaa;
}

.comment .avatar{
	text-align: left;
	//margin-right: 20px;
}

.comment hr{
	width: 99%;
	border: solid 1px #444;
	border-bottom:none;
	margin-top: 5px;
	margin-left: 4%;
}

.comment p{
	margin-top: 5px;
	line-height: 1;
	font-family:Vagthin;
	color:#555;
	margin-bottom: 5px;
}
.comment .w3-container{
	padding-right:0px;
}

.likeComm{
	color:white;
	background-color:#00c1ec;
	padding: 10px 0px;
	font-size: 1.5vw;
	margin-top: 15px;
}

#toComment{
	///background-color:#ddd;
	padding-top: 7px;
}

#toComment textarea{
	width:100%;
	resize:none;
	height: 100px;
}

#thumbCont{
    padding-left: 0px;
    display: inline-flex;
    width: 100%;
    margin-top: 0px;
}

#thumbCont li{
	list-style-type: none;
	margin-right: 10px;
}
.commentName{
	font-family: Vagbold;
	color: #001783;
	text-decoration:none;
}
.denunciar{
	font-family: Vagbold;
	color: rgba(0,0,0,0.2);
	font-size: 1.1vw;
}

.thumbDelete{
    padding-left: 5px;
    padding-right: 5px;
    margin-right: -15px;
}
#backers{
	padding-left:35px;
}
#backers h3{
	background-color: #009dfe;
	color: white;
	font-family: Vagbold;
	margin-top: 0px;
	margin-bottom: 0px;
	border: solid 1px #aaa;
	border-style: solid solid none solid;
}
#backers hr{
	width: 95%;
	border: solid 1px;
	margin: 15px auto 0px auto;
}
.backer{
	border: solid 1px #aaa;
	border-style: none solid none solid;
	padding: 15px;
}
.backer .backCont{
	padding-left:0px;
	padding-right:0px;
}
.backer .avatar img{
	width:100%;
}
.backer .backName{
	text-align:left;padding-left:10px;

}
.backer .backName a{
	text-decoration:none;
}
.backer .backChat{
	color:white;background-color:#00c1ec;padding: 0.5vw 3vw 0.5vw 1vw;/*margin-right: 5px;*/
}
.backer .backChat i{
	font-size:2vw;
}

.addFiles{
	color:white;
	padding-top: 15px;
}

.addFiles label{
    background-color: #00c1ec;
    /* text-align: center; */
    padding: 7px;
    margin-right: 5px;
}

@media screen and (max-width:767px) {
	#pDescrip{
		font-size:11px;
	}
	#pDescrip h6{
		font-size:11px;
	}
	#creador{
		padding-left: 0px;
		padding-right: 0px;
	}

	#stats .w3-container{
		padding-left: 0px;
		padding-right: 0px;
	}
	#stats p{
		font-size:0.9vw;
	}

	#dias{
		font-size: 1.5vw;
	}

	.likeCom{
		padding: 0.75vw 0px;
		font-size: 2vw;
	}
}

@media screen and (max-width:600px) {
	/*#pDescrip{
		font-size:2vw;
	}
	#pDescrip h6 {
		font-size:2vw;
	}*/

	#userName{
		font-size:2vw;
	}

	#stats p, #ciudad{
		font-size: 8px;
	}

	#pFiles .fileCont{
		padding:1vw 0px;
	}

	#pFiles p{
		font-size:1vw;
	}

	.likeComm{
		font-size: 2vw;
	}

	#backers{
		padding-left: 0px;
 		padding-top: 30px;
	}

	.backer .backChat i{
		font-size:4vw;
	}	
}
