html,body,h1,h2,h3,h4 {font-family:"Lato", sans-serif}
.mySlides {display:none}
.w3-tag, .fa {cursor:pointer}
.w3-tag {height:15px;width:15px;padding:0;margin-top:6px}

select{
	border:none;
}

#categoria{
	background-color: #f19800;
    	color: white;
    	/* width: 150px; */
    	/* text-align: center; */
    	margin-bottom: 30px;
    	/* width: 40%; */
    	padding: 10px 20px;
    	font-family: VAgbold;
    	letter-spacing: 2px;
}
#pTitle{
    margin-top: 20px;
    font-family: Vagbold;
    color:#001783;
}

.mySlides {
    //width:500px;
    height:500px;
    //border-style:solid;
    
    text-align: center;  /* align the inline(-block) elements horizontally */
    font: 0/0 a;         /* remove the gap between inline(-block) elements */
    background-color: white;
}

.mySlides:before {      /* create a full-height inline block pseudo-element */
    content: ' ';
    display: inline-block;
    vertical-align: middle; /* vertical alignment of the inline element */
    height: 100%;    
}

.mySlides img{
    display: inline-block;
    vertical-align: middle;          /* vertical alignment of the inline element */
    //font: 16px/1 Arial, sans-serif;  /* reset the font property */
    
    padding: 5px;
    //border: 2px solid black;
}
.w3-btn-floating {
	background-color:rgba(0,0,0,0.2);
	//color:black;
}
.w3-btn-floating:hover {
    box-shadow: none;
}
.w3-display-right {
	right:1%
}
.w3-display-left {
	left:1%
}
.barraLlena{
	float:left;
	background-color:#eee;
	border-radius: 20px 0px 0px 20px;
}
.barraVacia{
	float:right;
	background-color:#111;
	border-radius: 0px 20px 20px 0px;
}

.barra{
	display:block;
	margin-bottom:35px;
}

#creador img{
	//margin-bottom:-15%;
}

#stats{
	background-color: #eee;
	padding-top: 70px;
	padding-bottom: 20px;
	margin-top:-60px;
	border: solid 1px #aaa;
	color: #001783;	
}
#stats p{
	font-family:Vagbold;
	line-height:10px;
	font-size:0.8vw;margin-top:0px;text-align:center;
}
.statNumber{
	font-family:Vagbold;
	font-size:16px;
}
#userName{
	font-family:Vagbold;
	color:#00c1ec;
	letter-spacing: 3px;
	font-size: 1.5vw;
}
#ciudad{
	color:#f19800;
	font-family: Vagbold;
	letter-spacing: 1px;
	font-size: 1vw;
}

.logradoCont{
	margin-top:20px;
	display:inline-block;
}

.tortaFrame{
	width: 80px;
    height: 80px;
    //margin: auto;
    float: right;
}
.quarter-circle {
    background-color:#c06;
    height:100%;
    width: 100%;
    -moz-border-radius: 100% 0 0 0;
    border-radius: 100% 0 0 0;
}

.tortaFrame .completo{
    width: 80px;
    height: 80px;
    background-color: #001783;
    margin-left: auto;
    margin-right: auto;
}

.tortaFrame .incompleto{
    background-color: #00c1ea;
    width: 40px;
    height: 40px;
    margin-top: -80px;
    margin-left: 0px;	
}

.tortaFrame .interior{
    width: 50px;
    height: 50px;
    border: solid 3px white;
    padding: 10px 0px 0px 2px;
    background-color: white;
    margin-top: -25px;
    margin-left: 15px;
    font-size: 18px;
    font-family: Vagbold;
    color: #001783;
}

/*#creador button{
	font-size: 1.5vw;
	width: 100%;
	margin-top: 15px;
	background-color: white;
}*/
#pFiles p{
	font-size:0.8vw;
}
#pDescrip{
	text-align: left;
	font-size: 1.25vw;
	color: #555;
	font-family: Vagthin;
}
#pDescrip h6{
	font-Family: Vagbold;
	font-size: 1vw;
	color: #aaa;
	letter-spacing: 1px;
}
#feedback{
	display: flex;
	background-color: grey;
	color: white;
	padding-left: 15px;
	height:100%;
	padding: 30px 50px 30px 50px;
}

#comentarios{
	padding-right:50px;
}

.comment .avatar{
	text-align: left;
	margin-right: 20px;
}

.comment p{
	margin-top: 5px;
	line-height: 1;
}

#toComment{
	background-color:#ddd;
	padding-top: 7px;
}

#toComment textarea{
	width:100%;
	resize:none;
}

#thumbCont{
    padding-left: 0px;
    display: inline-flex;
    width: 100%;
    margin-top: 0px;
}

#thumbCont li{
	list-style-type: none;
	margin-right: 10px;
}

.thumbDelete{
    padding-left: 5px;
    padding-right: 5px;
    margin-right: -15px;
}
