#filters{
	margin-left: auto;
	margin-right: auto;
	width: 90%;	
	font-family:Vagbold;
	margin-bottom:30px;
}
#filters select{
	border:solid 2px rgb(254,222,79);
	width:98%;
	height:35px;
	color:#001782;
}
#filters .w3-col{
	text-align:center;
}
.lineInput{
	margin: 11px 0px 0px 2%;
	border-color: #001782;
	color:#001782;
}

.proyecto{
	background-color:#72dc54;
	//padding:20px;
	//padding-bottom:40px;
	color:#001782;
	font-family:Vagbold;
}

.proyecto img{
	width:100%;
	margin:0px;
	margin-right:10px;
}

.proyecto .categoria{
	position:relative;
	color:white;
	background-color:#0069e9;
	margin-top: -15px;
	margin-left: 5%;
	padding-left:10px;
	width: 60%;
	z-index: 10;
	display: inline-flex;
	height: 35px;
}

.proyecto .categoria img{
	width:50px;
	height:50px;
}
.proyecto .categoria h6{
	margin-top:2px;
}

.proyecto .titleCont{
	background-color:#81f15e;
	padding: 20px 25px 20px 25px;
	margin-top: -41px;
	height: 120px;
	overflow: auto;
}
.proyecto .titleCont a{
	text-decoration: none;
}

.proyecto .creador{
	display:table-cell;
	padding: 20px;
    	background-color: #72dc54;
}
.proyecto .creador .left{
	margin-right:8px;
}

.proyecto .creador img{
	width:40px;
}

.proyecto hr{
	width:100%;
	border-color:#81f15e;
	margin:0px;
}
.proyecto .bottomCont{
	display:inline-flex;
	width:100%;
	height:190px;
	padding:20px;
	overflow:auto;
}
.proyecto .pEstado{
	background-color:#81f15e;
	height:150px;
	padding-top:10px;	
}
.proyecto .tortaFrame{
	width:100px;
	height:100px;
}

.proyecto .tortaFrame .completo{
	width: 70px;
	height: 70px;
	background-color: #001782;
	margin-left: auto;
	margin-right: auto;
}

.proyecto .tortaFrame .incompleto{
	background-color: #0069e9;
	width: 35px;
	height: 35px;
	margin-top: -70px;
	margin-left: 15px;
}

.proyecto .tortaFrame .interior{
	width: 40px;
	height: 40px;
	border: solid 3px #81f15e;
	padding: 8px 0px 0px 4px;
	background-color: #81f15e;
	margin-top: -20px;
	margin-left: 30px;
}

.proyecto .pDesc{
	overflow: auto;
	/* padding-bottom: 15px; */
	padding-right: 10px;
	padding-left: 10px;
	font-size: 0.9vw;
}

.quarter-circle {
    background-color:#c06;
    height:100%;
    width: 100%;
    -moz-border-radius: 100% 0 0 0;
    border-radius: 100% 0 0 0;
}

.barraLlena{
	float:left;
	background-color:#eee;
	border-radius: 20px 0px 0px 20px;
}
.barraVacia{
	float:right;
	background-color:#111;
	border-radius: 0px 20px 20px 0px;
}

.barra{
	display:block;
	margin-bottom:35px;
}
