html,body,h1,h2,h3,h4 {font-family:"Lato", sans-serif}
.mySlides {display:none}
.w3-tag, .fa {cursor:pointer}
.w3-tag {height:15px;width:15px;padding:0;margin-top:6px}

select{
	border:none;
	color:#81f15e;
}

#signForm{
	font-family:Vagbold;
	color:#001782;
}

#signActivated button{
	border:none;
	margin:10px;
}

#userPhoto{
	width:128px;
	height:128px;
	overflow:hidden;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid #001782;
}

#userPhoto img{
	height:128px;
}

.lineInput {    
    border-bottom: 3px solid #001782;
    margin-bottom:20px;
}

.w3-input{
	color:#81f15e;
}

#signDone{
	font-family: Vagbold;
	color: #001782;
}

#signActivated{
	font-family: Vagbold;
	color: #001782;
}

#activSign{
	display: inline-flex;
	width: 400px;
	margin: 40px auto -50px auto;
}

#activSign hr{
	width: 170px;
	border: solid #81f15e 1px;
}
#activSign i{
	margin-top: -7px;
	font-size: 24px;
	color: #81f15e;
}
