.sectTitle{
    padding-left: 20px;
    Font-family: Vagbold;
    color: #0598ff;
    letter-spacing: 3px;
}

#userData{
	background-color: #eee;	
	padding-top: 70px;
	margin-top: -88px;
	padding-bottom: 20px;
	border: solid 1px #aaa;
}

#avatar{
	width:128px;
	height:128px;
	overflow:hidden;
	border:solid 3px #aaa;
	margin-left:auto;
	margin-right:auto;
	display:inline-block;
}

#avatar img{
	width:128px;
}

#userName{
	font-size:2vw;
	color:#00c1ec;
	text-decoration:none;
}
#ciudad{
	color:#f19800;
}
#escuela{
	font-family:Vagthin;
}
#stats{
	text-align:left;
}
#logrosTit{
	margin-top: 50px;
	font-family: Vagbold;
	background-color: #00d59b;
	color: white;
	letter-spacing: 3px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 35px;
}

#logros{
	width: 100%;
	/* margin: auto; */
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 2px;
	background-color: #eee;
	color: #444;
	margin-top: -10px;
	border:solid 1px #aaa;
}

#pVotados{
	width: 100%;
	/* margin: auto; */
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 2px;
	background-color: white;
	margin-top: -10px;
	margin-bottom: 50px;
	border:solid 1px #aaa;
	color:#777;
}

#votadosTit{
	margin-top: 50px;
	font-family: Vagbold;
	background-color: #00c1ec;
	color: white;
	letter-spacing: 3px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 35px;
}
.proyecto {
    position: relative;
}

.trash{
	color:white;
	background-color:#00c1ec;
	position:absolute;
	top:5px;
	right:5px;
	padding: 3px 10px;
	font-size: 20px;
}

@media screen and (max-width:600px) {
	.semi-line{
		display:none;
	}
}
