#gallery_items{
    margin-bottom: 50px;
}

#gallery_items .row{
	margin-bottom:10px;
}

.gal_item{
	background-color: white;
	color:#666;
	margin-top:15px;
	//-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
    //box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);	
    display:flex;
}
[class^="w3-col"]
{
	padding-right: 	7px;
	padding-left: 	7px;
}

.work-img{
	width:100%;
	float:left;
}

.work-img img{
	width:inherit;
}

.work-content{
	width:80%;
	float:right;
	padding:0px 15px;
	color:black;
}

.work-content h3{
	color:#2baae3;
}

.work-links{
	display:inline-flex;
}
.work-links a{
	margin:10px 3px;
}

/*==================================================
 * Drop shadow effect with box-shadow
 * ===============================================*/
.css3-shadow:after{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 40px rgba(0,0,0,0.8);
    box-shadow:0 0 40px rgba(0,0,0,0.8);
    bottom:0px;
    left:10%;
    right:10%;
    width:80%;
    height:50%;
    -moz-border-radius:100%;
    border-radius:100%;
}

.item_img{
	width:100%;
}
.item_caption {
	margin : 	10px;
	height: 	80px;
}
.item_caption  p {
	color:#ACACAC;
}
