body{
	overflow:auto;
	background-color:white;
	font-family:Tahoma;
}

header{	
	background:#333333;
	height:10vw;
	position:relative;
	//margin-bottom:80px;
}

.head{

}

#header-content{	
	z-index:1;
	position:absolute;
	bottom:0px;
	width:100%;
	//height:100%

}

#logo{

}

ul.topnav {
	//right:0px;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	padding-left:5%;
	padding-right:5%;
	z-index: 200;
}
ul.topnav li {
	float: left;
	margin-right: 5px;
}
ul.topnav li a {
	display: inline-block;
	color: #999999;
	text-align: center;
	padding: 4px 8px;
	text-decoration: none;
	transition: 0.3s;
	font-size: 1.0vw;
	font-family:Tahoma;
	font-weight:bold;
}
ul.topnav li a:hover {
	background-color: #29aae3;
}

ul.topnav li.icon,ul.topnav li.search {display: none;}

#lineaPatt{
    z-index:0;
    width: 100%;
    height: 10px;
    background-color: #28abe2;
    background-image:linear-gradient(-45deg, rgba(255, 255, 255, .2) 5%, transparent 5%,
                        transparent 10%, rgba(255, 255, 255, .2) 10%,
			rgba(255, 255, 255, .2) 15%,transparent 15%,
			transparent 20%, rgba(255, 255, 255, .2) 20%,
			rgba(255, 255, 255, .2) 25%,transparent 25%,
			transparent 30%, rgba(255, 255, 255, .2) 30%,
			rgba(255, 255, 255, .2) 35%,transparent 35%,
			transparent 40%, rgba(255, 255, 255, .2) 40%,
			rgba(255, 255, 255, .2) 45%,transparent 45%,			
			transparent 50%, rgba(255, 255, 255, .2) 50%,
			rgba(255, 255, 255, .2) 55%,transparent 55%,
			transparent 60%, rgba(255, 255, 255, .2) 60%,
			rgba(255, 255, 255, .2) 65%,transparent 65%,
			transparent 70%, rgba(255, 255, 255, .2) 70%,
			rgba(255, 255, 255, .2) 75%,transparent 75%,			
			transparent 80%, rgba(255, 255, 255, .2) 80%,
			rgba(255, 255, 255, .2) 85%,transparent 85%,
			transparent 90%, rgba(255, 255, 255, .2) 90%,
			rgba(255, 255, 255, .2) 95%,transparent 95%,
			transparent); 
    background-size: 100% 100%;
    position: absolute;
    bottom: 0px;
}

.title{
	color: #545353;
	font-size: 2.0vw;
	font-family:Tahoma;
}

.container{
	max-width:1024px;
	margin:auto;	
}

.gallery{
	margin-bottom:250px;
}

.img-circle{
	border-radius:50%;
}

.right{
	float:right;
}

.btn.btn-webs{
    background-color: #0099ff;
    color: white;
    text-decoration: none;
    border-radius: 8%;
    padding: 6px 40px;
    font-size: 2em;
}

footer{
	//margin-top:50px;
	background:#eeeeee;
	//position:fixed;
	bottom:0px;
	width:100%;
	//padding-top: 10px;
	//padding-bottom: 10px;
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:1100px) {
	.container{
		//margin:10vw;
	}
}

@media screen and (max-width:767px) {
	
	header {
    		height: 120px;
	}
	ul.topnav{
		position:absolute;
		padding-left:0px;
		padding-right:0px;
		right: 0px;
		bottom: -15px;
	}

	ul.topnav li:not(:first-child) {display: none;}
	ul.topnav li.icon {
		float: left;
		display: contents;
		font-size:17px;
	}

	ul.topnav li a{font-size:2.5vw;}

	ul.topnav li.icon a{font-size:17px;}

	ul.topnav.responsive{
		position:absolute;
		top:0px;
	}

	/*ul.topnav.responsive {position: relative;}*/
	ul.topnav.responsive li.icon {
		//margin-right:100%;
	}
	ul.topnav.responsive li.sectionButt {
		//float: none;
		display: inline;
		margin-top:35px;
	}
	ul.topnav.responsive li a {
		//display: block;
		text-align: left;    
	}

	#header-content.responsive{
		bottom:auto;
		height:auto;
	}

	#navTitle{
		display:inline;
	}
}
